# Capa silver (se regenera en CI/CD)
data/silver/

# Notebooks temporales y muestras locales
notebooks/*.json
notebooks/*.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entorno virtual
venv/
.env
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
